.detail-container {
    min-height: 100vh;
    background-color: #f5f5f5;
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    margin-top: 50px;
    gap: 16px;
    text-align: center;
}

.machine-card {
    width: 100%;
    max-width: 600px;
}

.description {
    margin: 16px 0;
    color: rgba(0, 0, 0, 0.6);
}

h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

img.mat-card-image {
    max-height: 300px;
    object-fit: cover;
}